<h1>{{this.name}}</h1>

    {{!-- <img src="../public/css/images/{{this.picture}}"> --}}
    <p><b>Business Type:</b> {{this.type}}</p>
    <p><b>Owned by:</b> {{this.owner}}</p>
    <p><b>Location:</b> {{this.neighborhood}}</p>
    <p><b>Description:</b> {{this.description}}</p>
    <p><b>Website:</b> {{this.url}}</p>
    <p><b>Facebook:</b> {{this.facebook}}</p>
    <p><b>Instagram:</b> {{this.instagram}}</p>

    <a href="/edit/{{this.id}}" class="update">Edit or Remove this Entry</a>
    <a href="/" class="home">Return Home</a>