<h1>{{this.name}}</h1>
<section id="show">
    <p><b>Business Type: {{this.type}}</b></p>
    <p><b>Owned by: {{this.owner}}</b></p>
    <p><b>Location: {{this.neighborhood}}</b></p>
    <p><b>Description: {{this.description}}</b></p>
    <p><b>Website: </b><a href="{{this.url}}"> {{this.name}} Online</a></p>
    <p><b>Facebook: </b><a href="{{this.facebook}}"> {{this.name}} on Facebook</a></p>
    <p><b>Instagram: </b><a href="{{this.instagram}}"> {{this.name}} on Instagram</a></p>
</section>
    <a href="/edit/{{this.id}}" class="update">Edit or Remove this Entry</a>
    <a href="/" class="update">Return Home</a>